h1 {
    color:chocolate



}
p {
    color:black

    
 
}
p {

font-family: Arial, Helvetica, sans-serif;
padding-left: 25%;
}

ol {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25%;
}

   body {
background-image: url(https://static.vecteezy.com/system/resources/thumbnails/007/677/104/small_2x/white-background-with-blue-geometric-and-white-line-pattern-free-vector.jpg);
background-size: cover;
   } 





p {

font-family: Arial, Helvetica, sans-serif;
padding-left: 25%;

}

ol {
font-family: Arial, Helvetica, sans-serif;
padding-left: 25%;
}

h1 {
    padding-left: 40%;
}






